<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.sniray.app.v2ray.AngApplication"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.SniRay"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme,android:label">

        <activity
            android:name="com.sniray.app.v2ray.ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sniray.app.v2ray.ui.ServerActivity"
            android:exported="false"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="com.sniray.app.v2ray.ui.ServerCustomConfigActivity"
            android:exported="false"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="com.sniray.app.v2ray.ui.ServerGroupActivity"
            android:exported="false"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="com.sniray.app.v2ray.ui.ServerProxyChainActivity"
            android:exported="false"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="com.sniray.app.v2ray.ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.PerAppProxyActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.AppPickerActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.ScannerActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.LogcatActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.RoutingSettingActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.RoutingEditActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.SubSettingActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.UserAssetActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.UserAssetUrlActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.SubEditActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.RstaBypassEditActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.ScScannerActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.ScSwitchActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":RunSoLibV2RayDaemon"
            android:theme="@style/AppThemeDayNight.NoActionBar.Translucent" />
        <activity
            android:name="com.sniray.app.v2ray.ui.ScStartActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":RunSoLibV2RayDaemon"
            android:theme="@style/AppThemeDayNight.NoActionBar.Translucent" />
        <activity
            android:name="com.sniray.app.v2ray.ui.ScStopActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":RunSoLibV2RayDaemon"
            android:theme="@style/AppThemeDayNight.NoActionBar.Translucent" />
        <activity
            android:name="com.sniray.app.v2ray.ui.UrlSchemeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="v2rayng" />
                <data android:host="install-config" />
                <data android:host="install-sub" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sniray.app.v2ray.ui.CheckUpdateActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.BackupActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.AboutActivity"
            android:exported="false" />
        <activity
            android:name="com.sniray.app.v2ray.ui.TaskerActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher" />

        <service
            android:name=".service.ProxyForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync|specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Local TCP SNI proxy for DPI bypass" />
        </service>

        <service
            android:name="com.sniray.app.v2ray.service.CoreVpnService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse|connectedDevice"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":RunSoLibV2RayDaemon"
            tools:ignore="VpnServicePolicy">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn" />
        </service>

        <service
            android:name="com.sniray.app.v2ray.service.CoreProxyOnlyService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:label="@string/app_name"
            android:process=":RunSoLibV2RayDaemon">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="proxy" />
        </service>

        <service
            android:name="com.sniray.app.v2ray.service.CoreTestService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:process=":RunSoLibV2RayDaemon">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="test" />
        </service>

        <receiver
            android:name="com.sniray.app.v2ray.receiver.WidgetProvider"
            android:exported="true"
            android:process=":RunSoLibV2RayDaemon">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="${applicationId}.action.widget.click" />
                <action android:name="${applicationId}.action.activity" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.sniray.app.v2ray.receiver.BootReceiver"
            android:exported="true"
            android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.sniray.app.v2ray.receiver.TaskerReceiver"
            android:exported="true"
            android:process=":RunSoLibV2RayDaemon"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.sniray.app.v2ray.service.QSTileService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:icon="@drawable/ic_stat_name"
            android:label="@string/app_tile_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":RunSoLibV2RayDaemon">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="tile" />
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <service
            android:name="androidx.work.multiprocess.RemoteWorkManagerService"
            android:exported="false"
            android:process=":bg" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.cache"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cache_paths" />
        </provider>
    </application>
</manifest>
